$color-primary: #3328CC;
$color-info: #CA00A6;
$color-danger: #FF1176;
$color-warning: #FFBB45;
$color-light: #F9F871;

$color-primary-hover: #271f9b;
$color-info-hover: #96027b;
$color-danger-hover: #ca0e5c;
$color-warning-hover: #d89f3d;
$color-light-hover: #cccc5f;

$color-primary-blend: #b3b0d3;
$color-info-blend: #d1abca;
$color-danger-blend: #fccfe2;
$color-warning-blend: #f8e7ca;
$color-light-blend: #fafac3;

$bg-primary: #F8EBFF;
$some-grey: #8171A3;

$color-dark: #342C48;
$color-super-dark: #1E1927;

$deep-navy: #000091;

$text-light: #FDF6FF;
$text-medium: #B68CFF;
$text-dark: #180d2e;

// blue-scheme
$b-primary: #311b92;
$b-primary-dark: #000063;
$b-primary-light: #6746c3;
$b-secondary: #2196f3;
$b-secondary-dark: #0069c0;
$b-secondary-light: #6ec6ff;
$b-text-dark: #090020;
$b-text-light: #e5ebfa;