@import "./../../sass/colors.scss";
@import "./../../sass/constants.scss";
@import "./../game-card/game-card.scss";

.app-main {
  background-color: $b-text-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $b-text-dark;

  .fullscreen-enabled {
    background-color: $b-text-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .game-field, .game-stat {
    font-size: 1.6rem;
    width: 700px;
    border-radius: $radius-all;
    border: 1px solid $b-primary;
    padding: 1rem;

    @media screen and (max-width: 767px) {
      width: 500px;
      border: none;
    }
  }
  .game-stat {
    display: flex;
    align-items: center;

    > p {
      margin-right: 6rem;
      font-family:'Yanone Kaffeesatz', sans-serif;
      font-size: 2.3rem;
      color: $b-primary;
      font-weight: 500;
    }

    > .fullscreen-btn {
      font-size: 2rem;
      padding: 5px;
      border-radius: $radius-all;
      border: 1px solid $b-primary;
      color: $b-primary;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        background-color: $b-primary;
        color: $b-text-light;
        transform: scale(1.1);
      }
    }
  }
  .game-field {
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-auto-rows: 100px;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow:column;
    gap: 10px;
    align-items: center;
    justify-items: center;
    justify-content: center;

    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(4, 75px);
      grid-auto-rows: 75px;
      gap: 5px;
    }
  }
  .game-stat {
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }

}