@import "./../../sass/constants.scss";
@import "./../../sass/colors.scss";

.app-header {
  background-color: $b-primary-dark;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: $b-secondary-light;
  padding: 0 50px;
  @media screen and (max-width: 1000px) {
    justify-content: space-between;
  }
  @media screen and (max-width: 767px) {
    padding: 0 10px;
  }

  .font-main-title {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    } 
  }

  .navigation {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      width: 250px;
    }
    
    .btn-header {
      width: 34px;
      height: 34px;
      border-radius: $radius-all;
      transition: all 0.6s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: $b-secondary-light;
      &:focus {
        border: 1px solid $b-secondary-light;
      }
      &:hover {
        background-color: $b-secondary-light;
        color: $b-primary-dark;
      }
    }
  }
}