@import "./../../sass/colors.scss";
@import "./../../sass/constants.scss";

.settings-page {
  background-color: $b-text-light;
  display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $b-text-dark;
  font-size: 1.6rem;
  

  &-container {
    width: 900px;
    display: grid;
    grid-template-rows: 1fr 50px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    @media screen and (max-width: 901px) {
      width: 700px;
      gap: 7px;
    }
    @media screen and (max-width: 767px) {
      width: 500px;
      gap: 5px;
      grid-template-rows: 1fr 40px;
      padding: 5px;
    }

    > .settings-game, .settings-sounds {
      display: flex;
      flex-direction: column;
      border: 1px solid $b-primary;
      padding: 5px;
      border-radius: $radius-all;
      line-height: 150%;
    }
    .fieldset-opts {
      margin-bottom: 5px;
      border-radius: $radius-all;
      margin: 5px 0;
      legend {
        margin: 5px 0;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 2.2rem;
        font-weight: 500;
        color: $b-primary;
        border-bottom: 1px dashed $b-primary;
      }
    }
    > .settings-game {
      
      .color-pics-options {
        .pics-color .light-light {
          color: $b-text-light;
          background-color: $b-primary-dark;
          border-radius: $radius-all;
          padding: 2px 3px;
        }
        .pics-color .light-secondary {
          color: $b-secondary-light;
          background-color: $b-primary-dark;
          border-radius: $radius-all;
          padding: 2px 3px;
        }
        .pics-color .light-primary {
          color: $b-primary-light;
          
        }
      }
    }
    .settings-sounds {
      .toggle {
        position: relative;
        display: flex;
        justify-content: center;
      }
      .tgl {
        display: none;
        &,
        &:after,
        &:before,
        & *,
        & *:after,
        & *:before,
        & + .tgl-btn {
          box-sizing: border-box;
          &::selection {
            background: none;
          }
        }
        
        + .tgl-btn {
          outline: 0;
          display: block;
          width: 4em;
          height: 2em;
          position: relative;
          cursor: pointer;
          user-select: none;
          &:after,
          &:before {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
          }
          
          &:after {
            left: 0;
          }
          
          &:before {
            display: none;
          }
        }
        
        &:checked + .tgl-btn:after {
          left: 50%;
        }
      }
      .tgl-skewed {
        + .tgl-btn {
          overflow: hidden;
          transform: skew(-10deg);
          backface-visibility: hidden;
          transition: all .2s ease;
          font-family: 'Raleway', sans-serif;
          background: $b-primary-dark;
          &:after,
          &:before {
            transform: skew(10deg);
            display: inline-block;
            transition: all .2s ease;
            width: 100%;
            text-align: center;
            position: absolute;
            line-height: 2em;
            font-weight: bold;
            color: $b-text-light;
            text-shadow: 0 1px 0 rgba(0,0,0,.4);
          }
          
          &:after {
            left: 100%;
            content: attr(data-tg-on);
          }
          
          &:before {
            left: 0;
            content: attr(data-tg-off);
          }
          
          &:active {
            background: $b-primary-dark;
            &:before {
              left: -10%;
            }
          }
        }
        
        &:checked + .tgl-btn {
          background: $b-secondary-dark;
          &:before {
            left: -100%;
          }
      
          &:after {
            left: 0;
          }
      
          &:active:after {
            left: 10%;
          }
        }
      }
    }
    > .come-back-btn {
      grid-row: 2;
      grid-column: 1/span 2;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 2.2rem;
      font-weight: 500;
      align-self: center;
      

      > .settings-link {
        color: $b-primary;
        border-radius: $radius-all;
        transition: 0.3s ease-in-out;
        padding: 5px;
        &:hover {
          background-color: $b-primary;
          color: $b-text-light;
        }
      }
    }
  
    .submit-btns {
      display: none;
    }
  }

  
}